.list-element-container {
	padding: 0.3rem;
	display: flex;
	margin-bottom: 0.5rem;
	border-radius: 6px;
	background-color: hsl(186, 100%, 15%);
	border: 3px solid hsl(186, 100%, 15%);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.2s;
}

.list-element-container:hover {
	padding: 0.3rem;
	display: flex;
	margin-bottom: 0.5rem;
	border-radius: 6px;
	background-color: hsl(186, 100%, 18%);
	border: 3px solid hsl(186, 100%, 18%);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.list-element-container:active {
	padding: 0.3rem;
	display: flex;
	margin-bottom: 0.5rem;
	border-radius: 6px;
	background-color: hsl(186, 100%, 12%);
	border: 3px solid hsl(186, 100%, 12%);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.selected-list-element {
	background-color: hsl(186, 100%, 18%);
	border: 3px solid hsl(189, 96%, 35%);
	/* box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.6); */
	pointer-events: none;
}

.selected-list-element:hover {
	background-color: hsl(187, 58%, 23%);
	border: 3px solid hsl(189, 62%, 47%);
	/* box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.6); */
	pointer-events: none;
}

/* Disable pointer-events for elements inside ListElement */
.list-element-container * {
	pointer-events: none;
}

.picture-container {
	padding: 0.4rem;
	background-color: hsl(186, 100%, 10%);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.6);
}
.picture {
	height: 60px;
	width: 60px;
	border-radius: 3px;
	object-fit: contain;
}
.info-container {
	display: flex;
	flex-direction: column;
	padding-left: 0.5rem;
	flex: 1;
}
.element-title,
.element-text,
.element-text2 {
	flex-grow: 1;
	display: flex;
	align-items: center;
	padding-bottom: 0.2rem;
	font-weight: 100;
}
.element-title {
	font-weight: bold;
	text-transform: uppercase;
	/* background-color: rgb(60, 143, 139); */
}
.element-text {
	/* background-color: rgb(49, 49, 85); */
}
.element-text2 {
	/* background-color: rgb(122, 44, 96); */
}

.check-box {
	z-index: 10;
	background-color: cadetblue;
	pointer-events: all;
	cursor: grab;
}

.check-box-all {
	background-color: rgb(95, 107, 160);
}

.check-box-partial {
	background-color: rgb(160, 132, 95);
}
