.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 100;
}

.login-container {
	/* background-color: hsl(188, 59%, 11%);
	background-color: hsl(194, 56%, 12%); */
	
	background-color: hsl(187, 100%, 12%);
	width: 100%;
	max-width: 380px;
	display: flex;
	flex-direction: column;
	border: none;
	border-radius: 9px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
}

.logo {
	width: 100%;
	/* margin-bottom: 2rem; */
	padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.login-form {
	padding: 3rem;
	padding-top: 0;
	display: flex;
	flex-direction: column;
}

.form-label {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0.4rem;
}

.form-input {
	margin-bottom: 0.6rem;
}

.submit-button {
	margin-top: 0.8rem;
	text-transform: uppercase;
	font-size: 1.05rem;
	font-weight: 100;
	padding: 13px;
	padding-bottom: 15px;
	background-color: hsl(185, 100%, 17%);
	cursor: pointer;
}

.submit-button:hover {
	background-color: hsl(185, 100%, 21%);
}

.submit-button:active {
	background-color: hsl(185, 100%, 15%);
	color: rgb(143, 219, 215);
}
