.top-bar-container {
	height: 4rem;
	background-color: hsl(187, 100%, 13%);
	z-index: 1;
	box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
	/* overflow: visible; */
	/* display: flex; */
	display: flex;
	align-items: center;
}

.nav-logo {
	/* width: 50%; */
	/* width: 10rem; */
	height: 3.5rem;
	padding: 0.7rem;
	/* height: 20rem; */
	/* max-height: 100%; */

	/* margin-bottom: 2rem; */
	/* padding: 2rem 1.5rem 1.5rem 1.5rem; */
}
