.selection-list-container {
  background-color: rgb(32, 116, 88);
  width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  margin-bottom: 0.5rem;
}
.list-container {
  padding: 1rem;
  flex: 1;
  background-color: rgb(87, 87, 23);
}
.list-element {
  margin-bottom: 0.5rem;
  background-color: rgb(73, 21, 122);
  width: 100%;
  min-height: 50px;
}
