.container {
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: brown;
  width: 100%;
  max-width: 200px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
}

.logo {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  text-align: center;
  margin-bottom: 0.2rem;
}

.form-input {
  margin-bottom: 0.4rem;
  padding: 0.3rem;
  padding-bottom: 0.4rem;
}

.submit-button {
  padding: 0.6rem;
  padding-bottom: 0.8rem;
  border: none;
  border-radius: 10px;
}
