.card-container {
  background-color: hsl(177, 100%, 9%);
  display: flex;
}

.picture-container {
  /* padding: 0.3rem; */
  width: 70px;
  height: 70px;
  display: flex;
}

.profile-picture {
  width: 100%;
  /* scale and crop imagen */
  object-fit: cover;
}

.user-info-container {
  font-size: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.2rem;
  padding-left: 0.5rem;
}
.user-name,
.work-position,
.logout-link {
  color: hsl(177, 71%, 77%);
  font-family: inherit;
}

.user-name {
  font-size: 1.2rem;
}

.work-position {
}

.logout-link {
  padding-top: 0.4rem;
  text-decoration: none;
  font-weight: bold;
  font-weight: 100;
  transition: all 2s;
}

.logout-link:hover {
  color: hsl(152, 89%, 39%);
}
.logout-link:active {
  color: blue;
}
